:host {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.pointer-cursor {
  cursor: pointer;
}

.error {
  margin: auto;
  color: red;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
